@import "colors";
@import "typography";
@import "normalize";
/* {
    border: 1px solid red;

} */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    background-color: #536954;
    overflow-y: overlay;
}



.fade-in {
    opacity: 0;
    filter: blur(5px);
    transition: all 1.5s;
}

.appear {
    opacity: 1;
    filter: blur(0);

}

h2.fade-in.appear {
    transition-delay: 200ms;
}

.hamburger {
    position: absolute;
    right: 5px;
    display: inline-block;
    width: 4em;
    z-index: 100;
    cursor: pointer;
    margin: 2em 2em;
    appearance: none;
    background: none;
    outline: none;
    border: none;
}

.hamburger .bar, .hamburger:after, .hamburger:before {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
}

.hamburger.is-active:before {
    transform: rotate(-45deg) translate(-9px, 8px);
}

.hamburger.is-active:after {
    transform: rotate(45deg) translate(-7px, -7px);
}

.hamburger.is-active .bar {
    opacity: 0;
}

.no-scroll {
    overflow-y: hidden;
}

.mobile-nav {
    display: block;
    position: absolute;
    //bottom: 100%;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    min-height: 110vh;
    z-index: 99;
    padding-top: 20em;
    background-color: #536954;
    transition:all 0.8s ease-out;
    clip-path: circle(100px at 100% -20%);
    -webkit-clip-path: circle(100px at 100% -20%);
}

.mobile-nav.is-active {
    width: 100%;
   -webkit-clip-path: circle(100%);
    clip-path: circle(100%);
}


    .mobile-nav a {
    display: block;
    text-align: center;
    margin-bottom: 12rem;
    padding: 12px;
    width: fit-content;
    margin: 0 auto;
    width: 100%;

    color:#fff;
    text-decoration: none;
    font-family: 'Montserrat';
    font-size: 25px;
    }

    .mobile-nav a:hover, a:focus {
        color: #E7E98F;
    }

   

.hero {
    display: grid;
    grid-template-rows: 1fr 4rem;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    height: 58em;
    
    background-image:linear-gradient(rgba(0, 0, 0, 0.7), 
    rgba(0, 0, 0, 0.75)), 
    url(/assets/IMG_5694\ Edited.JPG);
    background-size: auto 696px;
    background-repeat: no-repeat;
    overflow: hidden;
    text-decoration: none;
    background-size: cover;
    background-position: center;
    position: relative;
    


    .head {
        width: clamp(12vw, 80vw, 26rem);
        margin: auto;
        text-decoration: none;
        
    

        h1 {
            
            display: flex;
            justify-content: left;
            align-items: center;
            margin: 0;
            width: auto;
            

            color: #E7E98F;

            text-shadow: -9px 8px 9px rgba(0, 0, 0, 0.25);
            font-family: 'Inter';
            font-weight: 800;
            font-size:clamp(.2rem , 12vw, 3.7rem);

        }

        h2 {
            display: flex;
            justify-content: right;
            align-items: center;
            margin: 0;
            margin-top: 10px;
            padding-right: 5px;
            
            width: auto;
            height: 39px;
        
        text-align:right;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 300;
        font-size: 2.25em;
        font-size:clamp(.2rem, 8vw, 2.5em);
        line-height: 39px;

        color: #FFFFFF;

        }

    }
}

.nav {
    visibility: hidden;
    display: none;
    text-align: center;
    width: 100dvw;
    color:#fff;

font-family: 'Montserrat';
font-size:clamp(.2rem, 2vw, 2em);
}

.desktop-nav {
    text-decoration: none;
}

.intro {

    display: grid;
    place-items: center;

    background-color:#536954;
    
    padding: 10em 0;
    color: #ffffff;
    box-shadow: 0 20px 10px;

   
        .int-hd-container {
        
           display: grid;
           grid-template-columns: repeat(auto-fit, minmax(1fr, 1fr));
           width: clamp(1em, 65vw, 36em);
           height: fit-content;
            align-items: center;
            justify-content: space-between;
            margin: auto;
            margin-bottom: 2em;
            font-family: 'Inter';
            
            
            
            .hello {
                display: grid; 
                margin-right: 0.15em;
                margin-left: auto;
                width: fit-content;
                height: auto;
                
                font-size: clamp(1em, 7vw, 3em);
                background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
                background-clip: text;
                color: transparent;
                

                
            }
            
            .name {
                display: grid;
                justify-content: flex-end;
                margin-right: 0;
                margin-left: 0;
                width: auto;
                height: auto;
                
                font-size: clamp(1em, 7vw, 3em);                
            }

            .riley {
                display: grid;
                margin-left: auto;
                text-align: right;
                font-size: 3em;
                font-size: clamp(1em, 10vw, 4em);                color: #E7E98F;
               
            }
        
        }
        
        h3 {
            text-align: right;
            display: flex;
            flex-wrap: wrap;
        
        }
        
    .code-container {
        width: clamp(14em, 60vw, 35em);
        display: grid;
        grid-template-rows: 2em 1fr;
        place-items: center;
        height: 18em;
        border-radius: 9px;
        background-color: #0D0C38;
        
        padding: 0 0 4em 0;
        box-shadow: 5px 10px 20px black;

       


        .toolbar {
            position: relative;
            top: -6px;
            margin: 0;
            display: flex;
            justify-content: left;
            align-items: center;
            gap: 0 4px;
            z-index: 1;
            border-radius: 9px 9px 0px 0px;
            height: 2em;
            width: 100%;
            background-color: #26254B;

            .red{
                background-color: #E55A5A;
                margin-left: .75em;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                transition: 200ms;
            }

            .red:hover, .red:focus {
                background-color: #ff0000;
                box-shadow: 0 0 .2rem #E55A5A,
                0 0 .2rem #E55A5A,
                0 0 2rem #E55A5A,
                0 0 0.8rem #ff0000,
                0 0 2.8rem #ff0000,
                inset 0 0 1.3rem #ff0000;
            }
            
            .yellow {
                background-color: #E7E98F;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                transition: 200ms;
            }

            .yellow:hover, .yellow:focus {
                background-color: #fcff45;
                box-shadow: 0 0 .2rem #E7E98F,
                0 0 .2rem #E7E98F,
                0 0 2rem #E7E98F,
                0 0 0.8rem #fcff45,
                0 0 2.8rem #fcff45,
                inset 0 0 1.3rem #fcff45;
            }
            
            .green {
                background-color: #64B963;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 10px;
                height: 10px;
                border-radius: 50%;
                transition: 200ms;
            }
            
            .green:hover, .green:focus {
                background-color: #04ff00;
                box-shadow: 0 0 .2rem #64B963,
                0 0 .2rem #64B963,
                0 0 2rem #64B963,
                0 0 0.8rem #04ff00,
                0 0 2.8rem #04ff00,
                inset 0 0 1.3rem #04ff00;
            }


        }
            
        .int_para {

            font-family: 'Source Code Pro';
            width: clamp(10em, 40vw, 20em);
            color:#90C5D0;
            text-align: left;
            height: fit-content;
            justify-content: center;
            align-self: center;
           


            .mn-content.mn-content {
                margin-left: 2em;
                text-align: center;
            }

        }

        .top {
            margin-top: 2em;
        }

        .indent {
            margin-left: 20px;
        }

    }

.typed-js {
    display: inline;
    width: auto;
}

.typed-container {
    height: 75%;
    margin: 2em;
    margin-top: 30px;
}

}

.from-top {
    transform: translateY(-50%);
}

.from-left {
    transform: translateX(-50%);
}

.from-right {
    transform: traslateX(50%);
}

.from-left,
.from-right,
.from-top    {

    transition: opacity 250ms ease-in, transform 600ms ease-in;
    opacity: 0;
}

.from-left.appear,
.from-right.appear
 {

    transform: translateX(0);
    opacity: 1;
}

.from-top.appear {
    transform: translateY(0);
    opacity: 1;
}

.hello.appear {
    transition-delay: 0;
}

.name.appear {
    transition-delay: 400ms;
}

.riley.appear {
    transition-delay: 1s;
}

.skills {
    
    height: fit-content;
    background-color: #8FB591;
    padding: 4em 0 8em 0;

    .skills-hd {
        font-family: 'Inter';
        font-weight: 500;
        color: white;
        font-size: clamp(1em, 7vw, 3em);
        margin: auto;
        width: fit-content;
        margin-top: 2em;

    }

    .skills-undrln {
        background-color: #B7E8BA;
        width: clamp(1em, 16vw, 8em);
        height: 8px;
        margin: auto;
        border-radius: 15px;
        margin-bottom: 4em;
    }

    .skills-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2em;
        height: fit-content;

        .sk-crd {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: fit-content;
            transition: ease-in 200ms;
            height: fit-content;
        }



        a {
            text-decoration: none;
            font-family: 'Montserrat';
            font-weight: 400;
            font-size: clamp(16px, 5vw, 40px);
            align-self: center;
            color: white;
            opacity: 0;
            transform: translateY(-75%);
            transition: 400ms;
        }

        .html-icon {
            width: 40vw;
            max-width: 12em;
            transition: ease-in-out 2s;
        }
        .css-icon {
            width: 40vw;
            max-width: 12em;
        }
        .js-icon {
            width: 40vw;
            margin: none;
            max-width: 12em;
        }

       
        .sk-crd:hover, .sk-crd:focus {
            transform: scale(1.15);

            a {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }



}

.project-container {
    width: 100%;
    background-color: transparent;
    padding: 2em;
    display: grid;
    place-content: center;
    
    h3 {
        font-family: 'Inter';
        font-weight: 500;
        color: white;
        font-size: clamp(1em, 7vw, 3em);
        margin: auto;
        width: fit-content;
        margin-top: 2em;
    }

    .project1-wrapper {
        margin: 4em 0;
        width: clamp(2em, 80vw, 65em);
    }
}

.contact-section {
    height: fit-content;
    padding: 4rem 0 4rem 0;
    display: grid;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #131714;
    

    .contact-container {
        display: grid;
        grid-template-rows: 4em 1fr;
        align-items: center;
        justify-content: center;
        row-gap: 2em;
        margin: 8em 0;
        width: clamp(14em, 90vw, 30em);
        background-color: #26254B;
        border-radius: 9px;
        padding: 3em 0;
    }

    h4 {
        text-align: center;
        font-family: 'Montserrat';
        font-size: clamp(1em, 7vw, 3em);
        color: white;
        font-weight: 300;
    }

    form {
        display: grid;
        align-items: center;
        justify-content: center;
        width: clamp(12em, 75vw, 20em);
        font-family: 'Inter', sans-serif;
        row-gap: 5px;

        ::placeholder {
            color: rgba($color: #adf1ff, $alpha: 0.5);
        }

        :focus::placeholder {
            color: rgba($color: #adf1ff, $alpha: 0.2);
        }

        .contact-input {
            width: clamp(3em, 70vw, 20em);
            color: #fff;
            padding: 6px 8px;
            text-decoration: none;
            resize: none;
            background-color: transparent;
            
            
            
            
        }

       input:focus {
        outline: none;
        border-bottom: 2px solid rgba($color: #adf1ff, $alpha: 0.25);
        
       }

       textarea:focus {
        outline: none;
        border: 2px solid rgba($color: #adf1ff, $alpha: 0.25);
        
       }

       .contact-input::placeholder:focus {
        color: rgba(56, 121, 212, 0.5);
       }
        

        input {
            margin: 0;
            border: none;
            border-bottom: 2px solid #90C5D0;
        }

        textarea {
            padding-top: 8px;
            margin: 20px 0 2em 0;
            border: 2px solid #90C5D0;
            border-radius: 4px;
        }

        button {
            width: fit-content;
            justify-self: center;
            padding: 4px 3em;
            border-radius: 9px;
            background-color: rgba(56, 121, 212, 0.5);
            color: #fff;
            cursor: pointer;
            border: none;
            transition: 200ms;
        }

        button:hover, button:focus {
            background-color: #90C5D0;
        }
    }
}

footer {
    height: 15rem;
    background-color: #131714;;
    display: grid;
    align-content: center;
    justify-content: center;
    color:white;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #565656;
    
}


.footer-copy {
    text-align: center;
    margin-top: 4em;
}

.icon-container {
    display: flex;
    justify-content: center;
    margin: 2em 0 0 0;
}

.github {
    width: 2em;
    margin: 0 1.25rem;
}

.linkedin {
    width: 2.25em;
    margin: 0 1.25rem;
    transform: translateY(2px);
}

.replit {
    width: 1.75em;
    margin: 0 1.25em;
}

.codepen {
    width: 2.75em;
    margin: 0 1.25em;
    padding-bottom: 10px;
}

.ratufa-popup-container {
    font-family: 'Inter';
    width: clamp(20em, 60vw, 40em);
}

@media screen and (min-width: 1000px) {
    .nav-container {
        display: none;
    }

  .nav {
    display: flex;
    visibility: visible;
    width: 100%;
    color: #fff;
    
    justify-content: space-between;
  }

  .desktop-nav {
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    
    text-align: center;

    .desktop-a {
        color: white;
        text-decoration: none;
        margin: 0 4em;
        transform: translateX(-24px);
    }

    .desktop-a:hover, .desktop-a:focus {
        color: #90C5D0 ;
    }
  }

  .skills {
    display: grid;
    place-content: center;
  }

  .sk-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    padding: 4em 2em;
    width: clamp(10em, 80vw, 70em);
  }

  .skills-container {
    border-left: 5px solid #B7E8BA;
  }

}